:root {
  --boxlength: 16px;
}

.board {
  width: 100%;
  min-height: 80%;
  background-color: rgb(251, 251, 251);
  border: 4px solid rgba(196, 196, 196, 0.8);
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0;
  background-size: var(--boxlength) var(--boxlength);
  background-image:
    repeating-linear-gradient(0deg, #ccc 0 1px, transparent 1px 16px),
    repeating-linear-gradient(-90deg, #ccc 0 1px, transparent 1px 16px);
}